body{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: larger;  
    background-color: #dff2e3;
}
table {
    width: 100%;
    padding: 10px;
    text-align: left;
}
th{
  border: none;
}
.uvod th{
    border-bottom: 1px solid #092e11;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(144, 197, 178);
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.nav li a:hover:not(.active) {
    background-color: rgb(182, 231, 214);
  }
  
.active {
    background-color: #d2ede3;
  }
h1 {
    color:rgb(46, 82, 68);
}
h2 {
    color:rgb(64, 112, 94)
}

.rastliny tr{
  padding: 15px;
  border-bottom: 1px solid #092e11;
}