body{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: larger;  
    background-color: #f4faf5;
    text-align: center;
}
table {
    width: 100%;
    padding: 10px;
    text-align: left;
}
h1 {
    color:rgb(46, 82, 68);
}
h2 {
    color:rgb(64, 112, 94)
}